.input {
  width: 3.2rem;
  height: 2.75rem;
  border-radius: 9999px;

  background-color: var(--box-bg);
  border: 1px solid var(--box-border);
  color: var(--text-title);

  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;

  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px var(--primary-light);
}
